extends layout.pug

block content
    .container
        block content
            .main.container
                h2 API Metrics
                each stat in apiMetrics
                    div.panel.panel-primary
                        div.panel-heading
                            div.label(class=stat.method === "POST" ? "label-danger" : "label-success") #{stat.method}
                        div.panel-body
                            h3=stat.key
                            hr
                            div.row
                                div.col-md-6
                                    dl
                                        dt Count
                                        dd #{stat.values.duration.count}
                                        hr
                                        dt Min 
                                        dd #{stat.values.duration.min}ms
                                div.col-md-6
                                    dl
                                        dt Max 
                                        dd #{stat.values.duration.max}ms
                                        hr
                                        dt Avg 
                                        dd #{stat.values.duration.mean}ms