extends layout.pug

block content
    .container
        block content
            .main.container
                h2 Competitions
                a.pull-right.label.label-success(href="/management/competitions/create") New
                hr
                each variable in leagues
                    div.row.well
                        div.col-md-6
                            h3 #{variable.name} (#{variable.country})
                            h4=variable.permalink
                            h4 Providers
                            ul
                                each provider in variable.providers
                                    li
                                        a(href=provider.link) #{provider.name}
                        div.col-md-6
                            div.alert.alert-info.pull-right
                                h4 Next Scrap Date
                                h5=variable.nextScrapAt
                                button.btn.btn-primary(type='button', onclick="resetScrapDate('" + variable.permalink + "')") Reset Next Scrap Date
                    hr

